@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col-md-4">
        <div class="card card-custom wave wave-animate-slow wave-primary mb-8 mb-lg-0">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Team Count
                        </a>
                        <div class="text-dark-75 center">
                            50
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom wave wave-animate wave-danger mb-8 mb-lg-0">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Contacts
                        </a>
                        <div class="text-dark-75">
                            60
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom wave wave-animate-fast wave-success">
            <div class="card-body">
                <div class="d-flex align-items-center p-5">
                    <div class="d-flex flex-column">
                        <a href="#" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                            Posts
                        </a>
                        <div class="text-dark-75">
                            50
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@section Scripts{
}


