@model CB.Models.DTOs.Client.ClientCreateDto
@{
    ViewData["Title"] = "Create Client";
}
@{
    Layout = null;
}

<form asp-action="Create" method="post" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" placeholder="Enter full name" class="form-control form-control-solid" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" placeholder="Enter Phone Number" class="form-control form-control-solid" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" placeholder="Enter Email" class="form-control form-control-solid" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" placeholder="Enter Password" class="form-control form-control-solid" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" placeholder="Enter Email" class="form-control form-control-solid" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" asp-for="Image"  class="form-control form-control-solid" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary font-weight-bold mr-2">Submit</button>
        <button type="button" data-dismiss="modal" class="btn btn-light-primary font-weight-bold">Cancel</button>
    </div>
</form>

<script>
    PageLoadActions();  
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

